:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --button-color: #188ce8;
  --hero-background: #2f303a;
  --button-portfolio: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --social-color: #afb1b8;
  --wrap-color: rgba(33, 150, 243, 0.9);
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-wrap: rgba(47, 48, 58, 0.8);
  --modal-color: rgba(0, 0, 0, 0.2);
  --modal-close: rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--hero-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */

.header {
  /* line header */

  border-bottom: 1px solid #ececec;
}
.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-wrap {
  color: var(--logo-text-color);
}
.logo-white {
  color: var(--hero-text-color);
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms var(--function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
  display: flex;
}

.mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  display: flex;
  align-items: center;

  transition: color 250ms var(--function);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-mail {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  min-width: 216px;
  height: 50px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--function), box-shadow 250ms var(--function);
}
.hero-container {
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
}

/* скрити заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Особливості */
.title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
  line-height: 1.71;
}

.properties-container {
  display: flex;
  gap: 30px;
}

.list-properties {
  width: calc((100% - 90px) / 4);
  display: block;
}
.icon-properties {
  background-color: var(--button-portfolio);
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.antenna {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-section {
  padding-bottom: 0;
}
/* Чим ми займаємось */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.section-doing {
  display: flex;
  gap: 30px;
}
.item-doing {
  width: calc((100% - 60px) / 3);
}

.wrap-top {
  position: relative;
}

.wrap-top-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;

  color: var(--hero-text-color);
  background-color: var(--background-wrap);
}

/* Наша команда */
.section-team {
  background-color: var(--button-portfolio);
}
.card {
  background-color: var(--hero-text-color);
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.item-team {
  display: flex;
  gap: 30px;
}
.sign {
  padding-top: 30px;
  padding-bottom: 16px;
}
.social {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.social-link {
  fill: var(--social-color);
  transition: fill 250ms var(--function), background-color 250ms var(--function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--hero-text-color);
  background-color: var(--accent-color);
}
.social-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
/* Постійні клієнти */

.clients {
  display: flex;
  gap: 30px;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  fill: var(--social-color);
  justify-content: center;
  align-items: center;
}

.client-link {
  color: var(--social-color);
  transition: color 250ms var(--function), border-color 250ms var(--function);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client-icon {
  fill: currentColor;
}

/* footer */
.address {
  line-height: 1.71;
  color: var(--footer-color);
}
.address-text {
  color: var(--hero-text-color);
  transition: color 250ms var(--function);
}
.mail-footer {
  display: block;
  margin-top: 9px;
  color: var(--footer-color);
  transition: color 250ms var(--function);
}
.address-text:hover,
.address-text:focus,
.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.footer-background {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}
.container-address {
  display: block;
}

.social-container {
  display: block;
  margin-left: 70px;
}

.social-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link-footer {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--hero-text-color);

  transition: background-color 250ms var(--function);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.send-container{
display: block;
margin-left: 93px;
}
.form-email{
display: flex;

align-items: flex-end;
}

.footer-label{
  /* position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%); */

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: var(--footer-color);
}

.footer-imput{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}


.send-text{
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  
  color: var(--hero-text-color);
  margin-bottom: 20px;
}
.send-button{
min-width: 200px;
margin-left: 12px;

}

.icon-send{
 vertical-align: middle;
  margin-left: 10px;
fill: var(--hero-text-color);
}

/*  портфоліо*/
.filter-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--button-portfolio);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--function), background-color 250ms var(--function), box-shadow 250ms var(--function), border-radius 250ms var(--function);
}
.nav-button:hover,
.nav-button:focus,
.nav-button:active {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.caption {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.filter-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
.sign-portfolio {
  display: block;
  padding: 20px 24px;
}
.card-link {
  display: block;
  transition: box-shadow 250ms var(--function);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--hero-text-color);
  background-color: var(--wrap-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--function);
}

.card-item :hover .portfolio-top-text {
  transform: translateY(0);
}

/* Модільне вікно */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--modal-color);
  position: fixed;
  top: 0;
  transition: opasity 250ms var(--function), visibility 250ms var(--function);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 250ms var(--function), border-radius 250ms var(--function);
 padding: 40px;
}

.modal-close {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--hero-text-color);

  border: 1px solid var(--modal-close);
  fill: var(--logo-text-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 50%;
}

.modal-title{
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
color: var(--title-text-color);
margin-bottom: 12px;

}

.modal-label-name{
margin-bottom: 4px;
/* margin-top: 10px; */
}

.imput-wrap{
  position: relative;
}

.person{
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);
}
.modal-input{
width: 100%;
height: 40px;
/* margin-bottom: 10px; */

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.modal-textarea{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
}